<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Demo - v5.3</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Bootstrap" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

    <!-- Table -->
    <div class="container">
        <div class="mt-5 mb-2">
            CurrentPage : <span class="text-danger fw-bold" th:text="${paging.number+1}"></span> /
            TotalPages : <span class="text-danger fw-bold" th:text="${paging.totalPages}"></span> /
            TotalRecords : <span class="text-danger fw-bold" th:text="${paging.totalElements}"></span>
        </div>
        <table class="table table-bordered table-striped table-hover text-center">
            <caption>List of users</caption>
            <thead>
            <tr class="table-secondary">
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Password</th>
                <th scope="col">Email</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr class="align-middle" th:each="member : ${paging}">
                <th scope="row" th:text="${member.idx}"></th>
                <td th:text="${member.id}"></td>
                <td th:text="${member.pw}"></td>
                <td th:text="${member.email}"></td>
                <td><button
                        type="button"
                        class="btn btn-primary btn-sm"
                        th:onclick="'location.href=\'/member/update/'+ ${member.idx} +'\';'"
                        >수정</button>
                </td>
                <td><button
                        type="button"
                        class="btn btn-secondary btn-sm"
                        th:onclick="'location.href=\'/member/delete/'+ ${member.idx} +'\';'"
                    >삭제</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    <div class="container" th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${(paging.number+1)-1}|}" aria-label="Previous">&laquo;</a>
                <span th:text="${paging.hasPrevious}"></span>
            </li>
            <li
                class="page-item"
                th:each="page : ${#numbers.sequence(1, paging.totalPages)}"
                th:if="${page>=(paging.number+1)-3 and page<=(paging.number+1)+3}"
                th:classappend="${page == paging.number+1} ? 'active'"
            >
                <a class="page-link" th:href="@{|?page=${page}|}" th:text="${page}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${(paging.number+1)+1}|}" aria-label="Next">&raquo;</a>
            </li>
        </ul>
    </div>

    <!-- Button -->
    <div class="container">
        <hr>
        <button class="btn btn-success btn-sm" onclick="location.href='/member/memberJoin'">회원 가입</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.min.js"></script>
</body>
</html>