<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>Member List</title>
</head>
<body>
    <h2>MemberList</h2>
    <hr>
        <table style="width: 600px; border: 1px solid black; border-collapse: collapse;">
            <tr>
                <td>번호</td>
                <td>아이디</td>
                <td>비밀번호</td>
            </tr>
            <tr th:each="member : ${paging}">
                <td th:text="${member.idx}"></td>
                <td th:text="${member.id}"></td>
                <td th:text="${member.pw}"></td>
            </tr>
        </table>
    <hr>
    <!-- 페이징 처리 시작 -->
    <!--
        - 페이징 구현 시 어떤 클래스 사용
        페이징 구현 시 특정 라이브러리 사용은 필요 X => 이미 JPA 관련 라이브러리에 페이징 관련된 클래스가 포함
        org.springframework.data.domain.Page
        org.springframework.data.domain.Pageable
        org.springframework.data.domain.PageRequest

        - 페이징 관련 필수 속성들(암기)
            #numbers.sequence(start, end) : 시작 ~ 끝 번호까지 정해진 범위 만큼 반복하여 숫자를 생성 => 타임리프 문법 => 페이징 구현 시 많이 사용
            paging.isEmpty() : 페이지가 비었는지 체크 => 비었나요? => 레코드가 없으면 true, 있으면 false
            paging.number : 현재 페이지 번호
            paging.totalPages : 전체 페이지 수
            paging.totalElements : 전체 레코드 수(글 개수)
            paging.size : 페이지당 보여줄 레코드 수
            paging.hasPrevious : 이전 페이지가 있는지 체크
            paging.hasNext : 다음 페이지가 있는지 체크
    -->
    <!-- 페이징 처리 끝 -->
    1. 페이지 번호 반복 : <span th:each="num: ${#numbers.sequence(1, 10)}"><span th:text="${num}"></span>&nbsp;</span><br>
    2. 페이지 비었는지 체크 : <span th:text="${paging.isEmpty()}"></span><br>
    3. 현재 페이지 번호 : <span th:text="${paging.number}"></span><br>
    4. 전체 페이지 수 : <span th:text="${paging.totalPages}"></span><br>
    5. 전체 레코드 수 : <span th:text="${paging.totalElements}"></span><br>
    6. 페이지당 보여줄 레코드 수 : <span th:text="${paging.size}"></span><br>
    7. 이전 페이지 있냐 ? : <span th:text="${paging.hasPrevious}"></span><br>
    8. 다음 페이지 있냐 ? : <span th:text="${paging.hasNext}"></span><br>

    <hr>
    <button onclick="location.href='/member/memberJoin';">회원 가입</button>
</body>
</html>